#imagem{
    height: 400px;
    width: 400px;
    border: 40px;
    border-color: black;

}

#texto{
background-color: lig;
}

#testo{
    background-color: rgb(184, 108, 243);
}

#body{
    background: linear-gradient(lightpink,violet);
}

.foto{
    height: 300px;
    width: 300px;
}