#imagem{
    height: 400px;
    width: 400px;
    border: 40px;
    border-color: black;

}

#texto{
background: linear-gradient(red,rgb(255, 136, 0));
}

#testo{
    background-color: rgb(184, 108, 243);
}

#body{
    background: linear-gradient(rgb(255, 151, 167),rgb(255, 122, 96));
}

.foto{
    height: 300px;
    width: 300px;
}

#nome{
    color: red;
}

#perfil{
    width: 400px;
    height: 500px;
}